.GameRules {
    width: 30%;
    background-color: #00bcd4;
    padding: 22px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hints {
    display: none;
}

#hints-table {
    margin: 12px 8px;
}
#hints-table td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 4px 12px;
}

li {
    margin-top: 8px;
}